<style>
    .image_container {
        padding: 0.5em;
        width: calc(100%/4);
    }

    img {
        max-width: 100%;
    }
</style>

<div class="container col-md-6">
    <div class="card" style="margin-top: 12rem;">
        <div class="header">
            <p class="lead">Add Products</p>
        </div>
        <div class="body ml-5">
            <form class="form-auth-small" id="add-product" action="/addProduct" method="post"
                enctype="multipart/form-data">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select id="Category" name="Category" class="form-control" placeholder="Category">
                        {{#each category}}
                        <option value="{{this.Category}}">{{this.Category}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" name="Description" placeholder="Description">
                </div>

                <h4>Upload ,Crop and save.</h4>
                <!-- input file -->

                <div class="form-control">
                    <input type="file" name="Image1" src="#" class="form-control" id="Image1" onchange="readURL1(this);"
                        accept="image/*" />
                    <div class="image_container" id="cp1">
                        <img id="blah1" style="height:300px;" src="#" alt="" />
                    </div>
                    <div id="crop1" style="display: none;">
                        <div id="cropped_result1" class="mt-5 image_container">
                            <img src="" id="cropped_results1" alt="">
                        </div>
                        <a class="badge btn-info w-25 text-white" id="crop_button1">Crop</a>
                    </div>
                </div>

                <!-- input file -->

                <div class="form-control">
                    <input type="file" name="Image2" src="#" class="form-control" id="Image2" onchange="readURL2(this);"
                        accept="image/*" />
                    <div class="image_container" id="cp2">
                        <img id="blah2" style="height:300px;" src="#" alt="" />
                    </div>
                    <div id="crop2" style="display: none;">
                        <div id="cropped_result2" class="mt-5 image_container">
                            <img src="" id="cropped_results2" alt="">
                        </div>
                        <a class="badge btn-info w-25 text-white" id="crop_button2">Crop</a>
                    </div>
                </div>

                <!-- input file -->

                <div class="form-control">
                    <input type="file" name="Image3" src="#" class="form-control" id="Image3" onchange="readURL3(this);"
                        accept="image/*" />
                    <div class="image_container" id="cp3">
                        <img id="blah3" style="height:300px;" src="#" alt="" />
                    </div>
                    <div id="crop3" style="display: none;">
                        <div id="cropped_result3" class="mt-5 image_container">
                            <img src="" id="cropped_results3" alt="">
                        </div>
                        <a class="badge btn-info w-25 text-white" id="crop_button3">Crop</a>
                    </div>
                </div>

                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" name="Price" placeholder="Price">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add Product</button><br>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.0.0/cropper.min.js"></script>

<script>
    $(document).ready(function () {
        $(document).ready(() => {
            $("#add-product").validate({
                rules: {
                    Name: {
                        required: true
                    },
                    Category: {
                        required: true
                    },
                    Description: {
                        required: true
                    },
                    Image1: {
                        required: true
                    },
                    Image2: {
                        required: true
                    },
                    Image3: {
                        required: true
                    },
                    Price: {
                        required: true
                    }
                }
            });
        });
    });
</script>

<script>
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#blah1").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            setTimeout(initCropper1, 1000);
            $('#crop1').show()
        }
    }

    function initCropper1() {
        console.log("Came here");
        var image = document.getElementById("blah1");
        var cropper = new Cropper(image, {
            viewMode: 3,
            aspectRatio: 24 / 36,
            crop: function (e) {
                console.log(e.detail.x);
                console.log(e.detail.y);
            }
        });

        // On crop button clicked
        document.getElementById("crop_button1").addEventListener("click", function () {
            var imgurl1 = cropper.getCroppedCanvas().toDataURL();
            console.log('hai')
            document.getElementById("cropped_results1").src = imgurl1
            document.["#Image1"].src = imgurl1
        });
    }
</script>

<script>
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#blah2").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            setTimeout(initCropper2, 1000);
            $('#crop2').show()
        }
    }

    function initCropper2() {
        console.log("Came here");
        var image = document.getElementById("blah2");
        var cropper = new Cropper(image, {
            viewMode: 3,
            aspectRatio: 24 / 36,
            crop: function (e) {
                console.log(e.detail.x);
                console.log(e.detail.y);
            }
        });

        // On crop button clicked
        document.getElementById("crop_button2").addEventListener("click", function () {
            var imgurl2 = cropper.getCroppedCanvas().toDataURL();
            console.log('hai')
            document.getElementById("cropped_results2").src = imgurl2
            document.["#Image2"].src = imgurl2
        });
    }
</script>

<script>
    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#blah3").attr("src", e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            setTimeout(initCropper3, 1000);
            $('#crop3').show()
        }
    }

    function initCropper3() {
        console.log("Came here");
        var image = document.getElementById("blah3");
        var cropper = new Cropper(image, {
            viewMode: 3,
            aspectRatio: 24 / 36,
            crop: function (e) {
                console.log(e.detail.x);
                console.log(e.detail.y);
            }
        });

        // On crop button clicked
        document.getElementById("crop_button3").addEventListener("click", function () {
            var imgurl3 = cropper.getCroppedCanvas().toDataURL();
            document.getElementById("cropped_results3").src = imgurl3
            document.["#Image3"].src = imgurl3
        });
    }
</script>


